.container
  %ul
    - @profile.errors.full_messages.each do |message|
      %li= message
  = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
    %div
      = f.label :avatar, '画像'
    %div
      = f.file_field :avatar
    %div
      = f.label :nickname, '名前'
    %div
      = f.text_field :nickname, class: 'text'
    %div
      = f.label :my_id, 'ID'
      半角の数字で入力してください
    %div
      = f.number_field :my_id
    = f.submit '保存'