.container
  %ul
    - @profile.errors.full_messages.each do |message|
      %li= message
  = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
    %div
      = f.label :avatar, '画像'
    %div
      = f.file_field :avatar, id: :avatar_img
    - if @profile.avatar.present?
      = image_tag @profile.avatar_url, id: :preview
    - else
      = image_tag 'user.png', id: :preview
    :javascript
      $(function() {
       function readURL(input) {
         if (input.files && input.files[0]) {
           var reader = new FileReader();
           reader.onload = function (e) {
             $('#preview').attr('src', e.target.result);
           }
           reader.readAsDataURL(input.files[0]);
         }
       }
       $("#avatar_img").change(function(){
         readURL(this);
       });
      });
    %div
      = f.label :nickname, '名前'
    %div
      = f.text_field :nickname, class: 'text'
    %div
      = f.label :my_id, 'ID'
    %div
      = f.number_field :my_id
    %div.notes
      ※半角の数字で入力してください
    %div.notes
      ※一桁目は１〜９で入力してください
    = f.submit '保存'