.container
  - @foods.each do |food|
    = link_to edit_food_path(food) do
      .card
        .card_image
          - if food.image?
            = image_tag food.image_url
          - else
            = image_tag "no_food.png"
        .card_contents
          .card_name 
            %p= food.name
          .card_limitDay
            %p= food.limit_day
          .card_timeLimit
            %p= food.deadline
          .card_count
            %p= food.count
  = link_to new_food_path do
    .float_btn
      %i.fa.fa-plus