.container
  - @foods.each do |food|
    = link_to edit_food_path(food) do
      .card
        .card_image
          - if food.image?
            = image_tag food.image_url
          - else
            = image_tag "no_food.png"
        .card_contents
          .card_name
            = food.name
          .card_limitDay
            %i.fa.fa-clock-o
            = food.limit_day
          .card_timeLimit
            = food.deadline
          .card_count
            = food.count