.container
  - @foods.each do |food|
    = link_to edit_food_path(food) do
      .card{id: "select_#{food.id}"}
        .card_image
          - if food.image?
            = image_tag food.image_url
          - else
            = image_tag "no_food.png"
        .card_contents
          .card_name
            = food.name
          .card_limitDay
            %i.fa.fa-clock-o
            = food.limit_day
          .card_timeLimit
            = food.deadline
          .card_count
            数量
            = food.count
    .select.hidden
      = render 'selects/select', food: food
  .case.hidden
    .item
      = link_to 'まとめて削除', destroy_all_foods_path, data: {method: 'delete', confirm: '本当に削除してもよろしいですか？'}
      = link_to '閉じる', root_path