.container
  = form_with(model: @food, local: true) do |f|
    %div
      = f.label :eyecatch, '画像'
    %div
      = f.file_field :eyecatch
    %div
      = f.label :name, '食材名'
    %div
      = f.text_field :name
    %div
      = f.label :content, 'メモ'
    %div
      = f.text_area :content
    %div.hidden_box
      = f.radio_button :あ, :賞味期限, {id: '1', checked: "checked"}
      = f.label '賞味期限', {for: '1'}
      = f.radio_button :あ, :消費期限, {id: '2'}
      = f.label '消費期限', {for: '2'}
      %div
        = f.radio_button :あ, :管理しない, {id: '3'}
        = f.label '管理しない', {for: '3'}

      %div.hidden_show
        = f.date_select :limit, {use_month_numbers: true}
    %div
      = f.label :count, '数'
    %div
      = f.number_field :count
    = f.submit '保存'
