- if current_user.has_check?(shopping)
  .box{id: "check_#{shopping.id}"}
    = link_to shopping_check_path(shopping), method: :delete, remote: true do
      = image_tag 'checkbox.png'
- else
  .box{id: "check_#{shopping.id}"}
    = link_to shopping_check_path(shopping), method: :post, remote: true do
      = image_tag 'box.png'