!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TimeLimit
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
  %body
    %header.header
      %p.header_pageTitle
        = link_to 'Time Limit', root_path
      -if user_signed_in?
        .dropdown
          = image_tag current_user.avatar_image, class: 'header_avatar dropBtn'
          .dropdown_content
            = link_to 'プロフィール', profile_path
            = link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete', confirm: '本当にログアウトしますか？' }
    - if flash.present?
      .flash
        - flash.each do |key, value|
          %div{:class => key}= value
    %footer.footer
      %ul
        = link_to root_path do
          %i.fa.fa-home.color{class: "#{add_active_food_class(params[:controller])}"}
            %div
              トップ
        %i.fa.fa-trash-o.color
          %div
            削除
        = link_to shoppings_path do
          %i.fa.fa-cart-plus.color{class: "#{add_active_shopping_class(params[:controller])}"}
            %div
              買い物リスト
        - if params[:controller] == "foods"
          = link_to new_food_path do
            %i.fa.fa-plus.color
              %div
                投稿
        - elsif params[:controller] == "shoppings"
          = link_to new_shopping_path, remote: true do
            %i.fa.fa-plus.color
              %div
                投稿
        - else
          %i.fa.fa-plus.color
            %div
              投稿
    = yield

